[Desktop Entry]
Name=Firestorm Preview
Comment=Client for accessing 3D virtual worlds
Exec=sh -c "export FIRESTORM_X64_USER_DIR=/data/SL/users/AV1/FSPreview; mkdir -p "$FIRESTORM_X64_USER_DIR"; /data/SL/viewers/FSPreview/firestorm"
Icon=/data/SL/viewers/FSPreview/firestorm_icon.png
Terminal=false
Type=Application
Categories=SL;AV1;
StartupNotify=true
X-Desktop-File-Install-Version=3.0

