[Desktop Entry]
Name=Firestorm
Comment=Client for accessing 3D virtual worlds
Exec=sh -c "export FIRESTORM_X64_USER_DIR=/data/SL/users/AV2/FSRelease; mkdir -p "$FIRESTORM_X64_USER_DIR"; /data/SL/viewers/FSRelease/firestorm"
Icon=/data/SL/viewers/FSRelease/firestorm_icon.png
Terminal=false
Type=Application
Categories=SL;AV2;
StartupNotify=true
X-Desktop-File-Install-Version=3.0

